.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.header button {
  margin-left: 1em;
}

.status.Active {
  color: blue;
}

.status.InActive {
  color: coral;
}
